body
{
    background-color: #3a0d3a;
    color: #FFFFFF;
}

#divZaTraku
{
    width: 100%;
    max-height: 50px;
    background-color: #ba5b72;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
}

#GumbZaUnos
{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 20px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

#GumbZaPrikaz
{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 20px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.gumbiHover:hover
{
    background-color: #cb8496;
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1,1.1);
    -webkit-transition-duration: 0.35s; /* Safari */
    transition-duration: 0.35s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#divZaUpisProizvoda
{
    display: none;
    transition-duration: 3s;
    height: 200px;
    text-align: center;
    background-color: #a788a7;
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}

#divZaIspisProizvoda
{
    display: none;
    transition-duration: 3s;
    height: 200px;
    text-align: center;
    background-color: #a788a7;
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}